In [1]:
 import numpy as np

In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv('imdb_movies.csv')

In [4]:
movies.head(1)

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,271616668.0,AU

In [5]:
movies=movies[['names','overview','genre','score','crew']]

In [6]:
movies.head()

,names,overview,genre,score,crew
0,Creed III,"After dominating the boxing world, Adonis Cree...","Drama, Action",73.0,"Michael B. Jordan, Adonis Creed, Tessa Thompso..."
1,Avatar: The Way of Water,Set more than a decade after the events of the...,"Science Fiction, Adventure, Action",78.0,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt..."
2,The Super Mario Bros. Movie,"While working underground to fix a water main,...","Animation, Adventure, Family, Fantasy, Comedy",76.0,"Chris Pratt, Mario (voice), Anya Taylor-Joy, P..."
3,Mummies,"Through a series of unfortunate events, three ...","Animation, Comedy, Family, Adventure, Fantasy",70.0,"Óscar Barberán, Thut (voice), Ana Esther Albor..."
4,Supercell,Good-hearted teenager William always lived in ...,Action,61.0,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin..."

In [7]:
movies.isnull().sum()

names        0
overview     0
genre       85
score        0
crew        56
dtype: int64

In [8]:
movies.dropna(inplace=True)

In [9]:
movies.isnull().sum()

names       0
overview    0
genre       0
score       0
crew        0
dtype: int64

In [10]:
movies.duplicated().sum()

np.int64(178)

In [11]:
movies['overview'][0]

'After dominating the boxing world, Adonis Creed has been thriving in both his career and family life. When a childhood friend and former boxing prodigy, Damien Anderson, resurfaces after serving a long sentence in prison, he is eager to prove that he deserves his shot in the ring. The face-off between former friends is more than just a fight. To settle the score, Adonis must put his future on the line to battle Damien — a fighter who has nothing to lose.'

In [12]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [13]:
movies['crew'] = movies['crew'].apply(lambda x: x.replace(' ', ''))
movies['genre'] = movies['genre'].apply(lambda x: x.replace(' ', ''))

In [14]:
movies.head()

,names,overview,genre,score,crew
0,Creed III,"[After, dominating, the, boxing, world,, Adoni...","Drama, Action",73.0,"MichaelB.Jordan,AdonisCreed,TessaThompson,Bian..."
1,Avatar: The Way of Water,"[Set, more, than, a, decade, after, the, event...","ScienceFiction, Adventure, Action",78.0,"SamWorthington,JakeSully,ZoeSaldaña,Neytiri,Si..."
2,The Super Mario Bros. Movie,"[While, working, underground, to, fix, a, wate...","Animation, Adventure, Family, Fantasy, Comedy",76.0,"ChrisPratt,Mario(voice),AnyaTaylor-Joy,Princes..."
3,Mummies,"[Through, a, series, of, unfortunate, events,,...","Animation, Comedy, Family, Adventure, Fantasy",70.0,"ÓscarBarberán,Thut(voice),AnaEstherAlborg,Nefe..."
4,Supercell,"[Good-hearted, teenager, William, always, live...",Action,61.0,"SkeetUlrich,RoyCameron,AnneHeche,DrQuinnBrody,..."

In [15]:
movies['genre'] = movies['genre'].apply(lambda x:x.split())
movies['crew'] = movies['crew'].apply(lambda x:x.split())

In [16]:
movies['tags'] = movies['overview']+movies['genre']+movies['crew']

In [17]:
movies.head()

,names,overview,genre,score,crew,tags
0,Creed III,"[After, dominating, the, boxing, world,, Adoni...","[Drama,, Action]",73.0,"[MichaelB.Jordan,AdonisCreed,TessaThompson,Bia...","[After, dominating, the, boxing, world,, Adoni..."
1,Avatar: The Way of Water,"[Set, more, than, a, decade, after, the, event...","[ScienceFiction,, Adventure,, Action]",78.0,"[SamWorthington,JakeSully,ZoeSaldaña,Neytiri,S...","[Set, more, than, a, decade, after, the, event..."
2,The Super Mario Bros. Movie,"[While, working, underground, to, fix, a, wate...","[Animation,, Adventure,, Family,, Fantasy,, Co...",76.0,"[ChrisPratt,Mario(voice),AnyaTaylor-Joy,Prince...","[While, working, underground, to, fix, a, wate..."
3,Mummies,"[Through, a, series, of, unfortunate, events,,...","[Animation,, Comedy,, Family,, Adventure,, Fan...",70.0,"[ÓscarBarberán,Thut(voice),AnaEstherAlborg,Nef...","[Through, a, series, of, unfortunate, events,,..."
4,Supercell,"[Good-hearted, teenager, William, always, live...",[Action],61.0,"[SkeetUlrich,RoyCameron,AnneHeche,DrQuinnBrody...","[Good-hearted, teenager, William, always, live..."

In [18]:
new_df=movies[['names','tags']]

In [19]:
new_df

,names,tags
0,Creed III,"[After, dominating, the, boxing, world,, Adoni..."
1,Avatar: The Way of Water,"[Set, more, than, a, decade, after, the, event..."
2,The Super Mario Bros. Movie,"[While, working, underground, to, fix, a, wate..."
3,Mummies,"[Through, a, series, of, unfortunate, events,,..."
4,Supercell,"[Good-hearted, teenager, William, always, live..."
...,...,...
10173,20th Century Women,"[In, 1979, Santa, Barbara,, California,, Dorot..."
10174,Delta Force 2: The Colombian Connection,"[When, DEA, agents, are, taken, captive, by, a..."
10175,The Russia House,"[Barley, Scott, Blair,, a, Lisbon-based, edito..."
10176,Darkman II: The Return of Durant,"[Darkman, and, Durant, return, and, they, hate..."
10177,The Swan Princess: A Royal Wedding,"[Princess, Odette, and, Prince, Derek, are, go..."

In [20]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\purua\AppData\Local\Temp\ipykernel_16920\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [21]:
new_df['tags'][0]

"After dominating the boxing world, Adonis Creed has been thriving in both his career and family life. When a childhood friend and former boxing prodigy, Damien Anderson, resurfaces after serving a long sentence in prison, he is eager to prove that he deserves his shot in the ring. The face-off between former friends is more than just a fight. To settle the score, Adonis must put his future on the line to battle Damien — a fighter who has nothing to lose. Drama, Action MichaelB.Jordan,AdonisCreed,TessaThompson,BiancaTaylor,JonathanMajors,DamienAnderson,WoodHarris,Tony'LittleDuke'Evers,PhyliciaRashād,MaryAnneCreed,MilaDavis-Kent,AmaraCreed,FlorianMunteanu,ViktorDrago,JoséBenavidezJr.,FelixChavez,SelenisLeyva,LauraChavez"

In [22]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\purua\AppData\Local\Temp\ipykernel_16920\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [23]:
new_df['tags'][0]

"after dominating the boxing world, adonis creed has been thriving in both his career and family life. when a childhood friend and former boxing prodigy, damien anderson, resurfaces after serving a long sentence in prison, he is eager to prove that he deserves his shot in the ring. the face-off between former friends is more than just a fight. to settle the score, adonis must put his future on the line to battle damien — a fighter who has nothing to lose. drama, action michaelb.jordan,adoniscreed,tessathompson,biancataylor,jonathanmajors,damienanderson,woodharris,tony'littleduke'evers,phyliciarashād,maryannecreed,miladavis-kent,amaracreed,florianmunteanu,viktordrago,josébenavidezjr.,felixchavez,selenisleyva,laurachavez"

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [25]:
vectors =cv.fit_transform(new_df['tags']).toarray()

In [26]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [27]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\purua\appdata\local\programs\python\python312\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\purua\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\purua\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\purua\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\purua\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\purua\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

In [28]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [29]:
def stem(text):
    y =[]
    for i in text.split():
        y.append(ps.stem(i))
        return " ".join(y)

In [30]:
new_df['tags']= new_df['tags'].apply(stem)

C:\Users\purua\AppData\Local\Temp\ipykernel_16920\3021978705.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(stem)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
similarity = cosine_similarity(vectors)

In [33]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(114, np.float64(0.2944840695329241)),
 (5518, np.float64(0.2330745053742094)),
 (1982, np.float64(0.22315184957216838)),
 (429, np.float64(0.19325517063098144)),
 (8289, np.float64(0.19278507708475193))]

In [34]:
def recommend(movie):
    movie_index= new_df[new_df['names'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(similarity[movie_index])),reverse=True,key=lambda x:x[1])[1:6]
    recommended_movies = set()
    
    # Print the recommended movies
    for i in movies_list:
        movie_name = new_df.iloc[i[0]].names
        if movie_name not in recommended_movies:
            print(movie_name)
            recommended_movies.add(movie_name)

In [36]:
recommend('Avatar')

Avatar: The Way of Water
Europa Report
Krull
Star Trek IV: The Voyage Home
Jurassic World Dominion

In [37]:
import pickle

In [38]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [41]:
new_df['names'].values

array(['Creed III', 'Avatar: The Way of Water',
       'The Super Mario Bros. Movie', ..., 'The Russia House',
       'Darkman II: The Return of Durant',
       'The Swan Princess: A Royal Wedding'], dtype=object)

In [43]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))